/* DCP Header css*/

.header-fixed {
    background: var(--theme-bg2);
    z-index: 9999;
    top: 0;
    height: 60px;
    position: fixed;
    left: 0;
    right: 0;
    display: flex;
    padding: 0 15px;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);

    @media (min-width: 992px) {
        padding: 0 25px;
    }
}

.logo-height {
    max-height: 50px;
    max-width: 170px;
}

/* Sidebar Panel */

.sidebar {
    width: 50px;
    position: fixed;
    top: 0;
    height: 100%;
    z-index: 1;
    margin: 0;
    webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -ms-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    left: -240px;
    background: var(--sidebar-bg);

    &.sidebar-show {
        width: 264px;
        position: fixed;
        top: 0;
        height: 100%;
        z-index: 102;
        margin: 0;
        border-right: 1px solid var(--theme-br);
        background: var(--sidebar-bg);
        @media only screen and (min-width: 1600px){
            width: 230px;
        }
    }

    &.sidebar-show1 {
        left: 0;
    }
    @media (min-width: 992px) {
        height: -webkit-calc(100% - 60px);
        height: calc(100% - 60px);
        left: 0;

        &.sidebar-show {
            height: 100%;
        }
    }
}

/* Scrollbar */
.sidebar-menu {
    .mCS-inset-3.mCSB_scrollTools {
        .mCSB_dragger {
            .mCSB_dragger_bar {
                width: 2px !important;
            }
        }
    }

    .mCSB_scrollTools {
        width: 7px !important;
    }
}


/* Sidebar Panel End */

/* -- Sidebar Menu --*/
.sidebar-menu {
    position: relative;
    height: 100%;
    overflow: hidden;
    .header-logo-parent{
        padding: 20px 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 1px solid var(--theme-br);
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            max-width: 140px;
            max-height: 40px;
        }
    }
}

.sidebar-menu .padding {
    padding: 30px 10px 0px 10px;
}

.nav-down-arrow{
    position: absolute;
    bottom: 56px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    width: 26px;
    height: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    z-index: 9;
    color: var(--white-color) !important;
    opacity: 0;
    pointer-events: none;
    i{
        animation: floatUpDown 1.5s ease-in-out infinite;
        display: block;
    }
    @media only screen and (max-width: 991px) {
        bottom: 100px;
    }
}
@keyframes floatUpDown {
    0% {
    transform: translateY(-1px);
    }
    50% {
    transform: translateY(1px);
    }
    100% {
    transform: translateY(-1px);
    }
}

/* ================= SIDEBAR MENU ================= */

.sidebar-menu {
    .outer-sub-menu {
        height: calc(100% - 160px);
        overflow: hidden;
        padding: 16px 12px;
    }

    .under-sub-menu {
        height: calc(100% - 70px);
        overflow: hidden;
        overflow-y: auto;
        padding: 15px !important;
    }

    ul {
        margin: 0;
        padding: 0;
        scrollbar-width: none;
        -ms-overflow-style: none;

        &::-webkit-scrollbar {
            display: none;
        }

        li {
            white-space: nowrap;
            position: relative;
            display: block;

            a.nav-link {
                display: flex;
                align-items: center;
                gap: 12px;
                padding: 16px 15px;
                color: rgba(255, 255, 255, 0.8);
                font-weight: 500;      
                position: relative;
                z-index: 1;
                border: 1px solid transparent;
                border-radius: 8px;
                svg.size-icon{
                    width: 16px !important;
                    @media only screen and (min-width: 1600px){
                        width: 22px !important;
                    }
                }
                span {
                    &.size-icon {
                        display: inline-block;
                        text-align: center;
                        font-size: 16px !important;
                        @media only screen and (min-width: 1600px){
                            font-size: 22px !important;
                        }
                    }

                    &.menu-title {
                        width: calc(100% - 40px);
                        font-size: 13px;
                        line-height: 19px;
                        @media only screen and (min-width: 1600px){
                            font-size: 14px;
                        }
                        .value {
                            width: calc(100% - 22px);
                        }
                    }
                }

                i.down-arrow {
                    transform: rotate(0);
                    font-size: 10px;
                    transition: all 0.4s ease;
                }

                &.collapsed {
                    i.down-arrow {
                        transform: rotate(-90deg);
                    }
                }
            }

            a.hover-shadow {
                margin-bottom: 4px;
                &:hover {
                    svg path {
                        fill: var(--white-color);
                        fill-opacity: 1;
                    }
                }
            }

            &.nav-item {
                &:hover,
                &.permanent-active,
                &.active {
                    a.nav-link .size-icon svg path {
                        fill: var(--white-color);
                        fill-opacity: 1;
                    }
                    a.nav-link{
                        background: var(--body-bg);
                        transform: translateX(0px);
                        padding-left: 18px;
                        border-color: var(--primary-color);
                        width: 100%;
                        background: var(--primary-color)
                    }
                }

                &.active {
                    a.nav-link {
                        background: var(--body-bg);
                        transform: translateX(0px);
                        padding-left: 18px;
                        border-color: var(--primary-color);
                        background: var(--primary-color)
                    }

                    ul.sub-child1 {
                        a.nav-link {
                            font-weight: 600;
                            color: var(--btn-color);
                            background: transparent;
                            border: none;

                            .size-icon {
                                color: var(--text-light);
                            }

                            &:hover {
                                background: var(--theme-br);
                            }

                            &:focus {
                                border-left: 3px solid var(--primary-color);
                            }
                        }
                    }
                }
            }

            &.close-btn.active {
                a.nav-link {
                    font-weight: 600;
                    color: var(--black-color);
                    background: none;
                    border: none;
                }
            }
        }
    }

    .nav-item {
        .submenu {
            transition: all 0.2s linear;
            background: #f6fbff;

            ul,
            ul li {
                padding: 0;
            }

            li {
                a {
                    display: flex;
                    align-items: center;
                    padding: 9px 0 9px 5px;
                    color: #7f7c88;
                    min-height: 39px;

                    &.active {
                        color: #27bcc6;
                        font-weight: bold;
                    }

                    i.size-icon {
                        width: 60px;
                        min-width: 60px;
                        text-align: center;
                        font-size: 14px;
                        transition: all 0.2s linear;
                    }

                    span {
                        width: calc(100% - 60px);
                        font-size: 14px;
                        transition: all 0.2s linear;
                    }
                }
            }

            &.show {
                display: block;
            }
        }
    }
}

/* ================= SIDEBAR STATE ================= */

.sidebar {
    &.highlight {
        .collapse {
            display: none;
        }

        &:hover {
            li.nav-item .collapse.show {
                display: block !important;
            }
        }

        /* moved from .close-sidemenu */
        .icon-left-menu-close {
            transform: rotate(-180deg);
            transition: all 0.4s ease;
        }

        .menu-title1 {
            display: none;
        }

        .menu-title2 {
            display: block !important;
        }

        &:hover {
            .menu-title3 {
                display: block !important;
            }
        }
    }

    .sidebar-menu {
        .nav-item {
            a.nav-link {
                span.menu-title,
                &:after {
                    display: none;
                }
            }
        }
    }

    &.sidebar-show {
        .sidebar-menu {
            .nav-item {
                a.nav-link {
                    span.menu-title,
                    &:after {
                        display: flex;
                    }
                }
            }
        }
    }
}

/* ================= HAMBURGER ================= */

.hamburger {
    cursor: pointer;
    height: 32px;
    width: 32px;
    border: 2px solid var(--theme-br);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;

    .bar {
        width: 20px;
        height: 3px;
        background: var(--primary-color);
        border-radius: 65px;
        transition: 0.4s ease;

        &:not(:first-child) {
            margin-top: 3px;
        }
    }
}

#side-nav-toggles {
    position: absolute;
    left: -999px;
    top: -999px;

    &:checked + .hamburger {
        .bar {
            &:first-child {
                transform: rotate(-45deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:nth-child(3) {
                margin-top: -9px;
                transform: rotate(45deg);
            }
        }
    }
}

/* ================= BUSINESS NAME ================= */

a.business-name,
.business-name {
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--white-color);
    text-decoration: none;
}

/* ================= TOP RIGHT ================= */

ul.top-right-items {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    > li {
        list-style: none;
        padding-left: 8px;
        padding-right: 8px;
        position: relative;
        color: var(--white-color);

        &:first-child::before {
            display: none;
        }

        &:last-child {
            border: none;
            padding-right: 0;
        }
    }

    @media (min-width: 768px) {
        > li {
            padding-left: 20px;
            padding-right: 20px;
        }
    }

    .profile {
        .dropdown-menu {
            left: unset !important;
            right: 0 !important;
        }
    }
}

/* ================= PROFILE ================= */

.nav-item {
    & .switch-business {
        & .profile {
            .dropdown-menu .dropdown-item {
                border-top: 1px solid var(--theme-br-white) !important;
                border-radius: 0 !important;
            }
        }
    }
}

.profile {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;

    .dropdown-menu {
        max-height: 350px !important;
        transform: 0;
        padding: 10px;
        border-radius: 10px 10px 0 0;
        background: rgba(0, 0, 0, 1);
        backdrop-filter: blur(50px);
        left: 0 !important;
        transition: 0.5s;

        .dropdown-item {
            font-weight: 400;
            font-size: 14px;
            line-height: 1.25rem;
            color: var(--white-color)!important;
            padding: 8px;
            gap: 10px;
            display: flex;
            align-items: center;
            /* border-radius: 6px; */
            transition: 0.3s;
            border-radius: 0 !important;
            img{
                width: 40px;
                padding: 5px;
                border: 1px solid var(--theme-br-white);
                border-radius: 5px;
            }
            &:hover,
            &:active,
            &:focus,
            &:visited {
                background: var(--bg-white-05);
            }

            &:hover {
                color: var(--white-color);
            }
        }

        .dropdown-divider {
            margin: 0.5rem 0;
            border-top: 1px solid var(--theme-br);
        }
    }

    .dropdown-toggle::after {
        border: none;
        margin: 0;
    }

    .user-name {
        font-size: 14px;
        color: var(--white-color);
        white-space: nowrap;
        font-weight: 700;
    }

    a.profile-pic {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        overflow: hidden;
        margin-left: 0;
        padding: 5px 10px;
        background: var(--primary-color);
        border-radius: 8px;
        .actice-profile{
            display: flex;
            align-items: center;
            justify-content: start !important;
            gap: 10px !important;
            .icon-logo{
                width: 48px;
                height: 48px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 6px;
                border: 1px solid var(--theme-br-white);
                img{
                    width: 30px;
                    height: auto;
                    object-fit: cover;
                }
            }    
            .user-name{
                font-size: 16px;
                color: var(--white-color);
                white-space: nowrap;
            }
        }
    }

    &.style-3 {
        .dropdown-menu {
            border-radius: 0 10px 10px 0;
            left: 180px !important;
            top: 65px !important;
            transform: none !important;
            position: fixed !important;
            box-shadow: var(--rgba-primary-2) 25px 0 20px -20px;
        }
    }
}

.notification {
    .dropdown-toggle::after {
        border: none;
        margin: 0;
    }
}

/* ================= FOOTER ================= */

.footer-design {
    width: 100%;
    font-size: 14px;
    line-height: 1.1875rem;
    padding: 10px;
    position: absolute;
    bottom: 0;
    color: #909090;

    &,
    & + .footer-sticky-height {
        display: block;
    }

    color: var(--theme-text-color);
    border: 1px solid var(--theme-br);
    bottom: 20px;
    width: calc(100% - 30px);
    background: var(--theme-bg);
    border-radius: 12px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
}

.footer-sticky-height {
    height: 60px;

    @media (min-width: 992px) {
        height: 70px;
    }
}

@media (min-width: 992px) {
    .footer-design {
        width: calc(100% - 40px);
        padding: 15px 20px;
    }
}

/* ================= SIDEBAR PROFILE ================= */

.sidebar-menu {
    li.profile {
        padding: 0 !important;
        position: absolute;
        bottom: 0;
        left: 0;
        display: flex;
        justify-content: start;
        width: 100%;
        transition: 0.5s;

        &.style-2 {
            padding: 15px 20px !important;
            border-top: 1px solid var(--theme-br-white);
            /* background: #262626; */
            .dropdown-toggle{
                /* width: 100%; */
                display: flex;
                align-items: center;
                gap: 15px;
            }
            .dropdown-menu {
                padding-left: 12px;
                position: fixed !important;
                left: 180px !important;
                bottom: 0 !important;
                z-index: 1000000;
                transform: none !important;
            }
        }
    }
    ul.switch-business {
        max-width: 100% !important;
        max-height: 100% !important;
        border: 0 !important;
    }
}

.sidebar.highlight {
    .sidebar-menu {
        li.profile.style-2 {
            padding: 10px 0 !important;
            width: auto !important;

            .dropdown-menu {
                padding-left: 12px;
            }
        }
    }
}


